html { /* 1 */
  background: #bc77ff;
}

body { /* 2 */
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  padding: 40px;
  color: #242424;
  border-top: 10px solid #47008d;
  background: #cf9eff;
}

h1{ /* 3 */
  font-size: 3em;
  margin: 0;
}

p { /* 4 */
  line-height: 1.4em;
}

#blog { /* 5 */
  border-top: 1px dotted #47008d;
}

.blog-post { /* 6 */
  border-bottom: 1px dotted #47008d;
}

footer { /* 7 */
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
}

img { /* 8 */
  max-width: 45%;
  height: auto;
  display: block;
  margin: 20px 0;
}

time { /* 9 */
  font-size: 1.2em;  
  color: #47008d;    
  font-weight: bold; 
  margin-top: 10px; 
}

.author { /* 10 */
  font-size: 1.2em;   
  margin-top: 30px;
  text-decoration: underline;
}

.author a { /* 11 */
  color: #47008d;          
  text-decoration: none;   
  font-weight: bold;      
}

.author a:hover { /* 12 */
  color: #ff007f;          
  text-decoration: underline; 
}

ul li a { /* 13 */
  color: #47008d;           
  font-weight: bold;
  text-decoration: underline;
}

ul li a:hover { /* 14 */
  color: #ff007f;          
  text-decoration: underline;
}

figcaption { /* 15 */
  font-weight: bold; 
}
